html
    head
        title!= title
    body
        h1!= message
        if links
            ol
                each link in links
                    li
                        a(href=link.url)!= link.title
                        br
                        span(style='color:orange')!= link.ups
                        span!= "|"
                        span(style='color:blue')!= link.downs
                        a(href='http://www.reddit.com' + link.permalink)!= "permalink"